/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Styles for the body */

body {
	font-family: "Lora", Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #01796F;
	color: #FAFAF4; 
}

.resume-font{
	font-family: "Source Sans 3", sans-serif;
}
.resume-main {
	background-color: #FAFAF4;
	color: #01796f;
}

.resume-aside {
	background-color: #ff69b4;
	color: #FAFAF4;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #ff69b4;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
	
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.proficiency {
	background: #01796f;
}
.proficiency-border{border: 1px solid #FAFAF4;
	color:#FAFAF4;}

.aside-titles{
color: #FAFAF4;
}
